﻿@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <input type="file" name="file" />
    <input type="submit" value="Submit" />
</form>
@if (TempData["msg"] != null)
{
    <script>
        alert('@TempData["msg"]');
    </script>
}